<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="./vendor/autoload.php" colors="true"
>
    <php>
        <ini name="xdebug.max_nesting_level" value="200" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>
    <testsuites>
        <testsuite name="FOSMessageBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
</phpunit>
